/* Lines from https://codepen.io/pouretrebelle/pen/kxWemn */
main p,
main ul, main ol,
table {
	background-color: var(--color-bg-blocks);
	background-image:
		repeating-linear-gradient(
			transparent,
			transparent calc(1.5rem - 1px),
			hsl(from var(--color-text-body) h s l / 30%) calc(1.5rem - 1px),
			hsl(from var(--color-text-body) h s l / 30%) 100%);
	background-clip: border-box;
	background-position: 0 calc(0px - 1.5rem / 6);
	background-size: 1px 1.5rem;
}

p:not(:has(img)) + p,
p:not(:has(img)) + ul, p:not(:has(img)) + ol {
	padding-top: 0;
}

p:has(img) + p {
	margin-top: 1rem;
}

p img {
	margin-top: 0;
	margin-bottom: 0;
}

p.small {
	padding-top: .25rem;
}

blockquote p {
	background-color: transparent;
	background-image: none;
	border: thick solid var(--color-bg-blocks);
}
