:root {
	color-scheme: light dark;

	--color-dark: #17201f;
	--color-light: #69966e;

	--color-dark-alt: #1d302e;
	--color-light-alt: #a6c9a8;

	--color-dark-text: #eadfc6;
	--color-light-text: #212226;

	--color-text: light-dark(var(--color-light-text), var(--color-dark-text));
	--color-text-alt: light-dark(var(--color-dark-alt), var(--color-light-alt));
	--color-bg: light-dark(var(--color-light), var(--color-dark));
	--color-bg-alt: light-dark(var(--color-light-alt), var(--color-dark-alt));

	--underline-thickness: .18em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-text);
	background-color: var(--color-text);
	font-family: var(--font-family-body);
	width: 60vw;
	max-width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1050px) {
	body {
		width: 75vw;
	}
}

@media (max-width: 650px) {
	body {
		width: 92vw;
	}
}

main {
	background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
	color: var(--color-text-alt);
	font-family: var(--font-family-header);
	padding: 1.5rem 1rem 0 1rem;
}

h1 {
	font-size: 3rem;
	background-color: var(--color-bg-alt);
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.65rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.25rem; }

h2, h3, h4, h5, h6 {
	background-color: var(--color-bg-alt);
	margin-top: .8em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: .25rem;
	margin: 1rem 0;
}

main p,
main ul, main ol {
	line-height: 1.5;
	font-size: 1rem;
}

main p {
	padding: 1.5rem 1rem;
}

main ul, main ol {
	padding: 1.5rem 1rem 1.5rem 3rem;
}

/* Lines from https://codepen.io/pouretrebelle/pen/kxWemn */
main p,
main ul, main ol {
	background-color: var(--color-bg-alt);
	background-image:
		repeating-linear-gradient(
			transparent,
			transparent calc(1.5rem - 1px),
			hsl(from var(--color-text) h s l / 50%) calc(1.5rem - 1px),
			hsl(from var(--color-text) h s l / 50%) 100%);
	background-clip: border-box;
	background-position: 0 calc(0px - 1.5rem / 6);
	background-size: 1px 1.5rem;
}

main p,
main ul, main ol,
h2, h3, h4, h5, h6 {
	box-shadow: 1px 0 hsl(from var(--color-text) h s l / 50%),
		-1px 0 hsl(from var(--color-text) h s l / 50%);
}

p + p,
p + ul, p + ol {
	padding-top: 0;
}

a {
	color: var(--color-text);
	text-underline-offset: var(--underline-thickness);
	text-decoration-thickness: var(--underline-thickness);
	transition: text-decoration-thickness .5s;
}

@media (any-hover: hover) {
	a:hover {
		text-decoration-thickness: calc(var(--underline-thickness) * 1.8);
	}
}

a:active {
	text-decoration-thickness: calc(var(--underline-thickness) * 1.8);
}

hr {
	margin: 2rem 5rem;
	color: var(--color-accent);
}

pre {
	margin: 1rem;
}
