:root {
	color-scheme: light dark;

	--color-text-body: light-dark(var(--color-light-text-body), var(--color-dark-text-body));
	--color-text-header: light-dark(var(--color-light-text-header), var(--color-dark-text-header));
	--color-bg: light-dark(var(--color-light1), var(--color-dark1));
	--color-bg-alt: light-dark(var(--color-light3), var(--color-dark3));
	--color-bg-body: light-dark(var(--color-light2), var(--color-dark2));

	--underline-thickness: .18em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-text-body);
	background-color: var(--color-bg-body);
	font-family: var(--font-family-body);
	width: 60vw;
	max-width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1050px) {
	body {
		width: 75vw;
	}
}

@media (max-width: 650px) {
	body {
		width: 95vw;
	}
}

main {
	background-color: var(--color-bg);
	padding-bottom: 2rem;
}

.content {
	margin: 0 1rem;
}

@media (max-width: 650px) {
	.content{
		margin: 0 .5rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
	color: var(--color-text-header);
	font-family: var(--font-family-header);
	padding: 1.5rem 1rem 0 1rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
	padding: 4rem 0 2rem;
}

h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.65rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.25rem; }

h2, h3, h4, h5, h6 {
	background-color: var(--color-bg-alt);
	margin-top: .8em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: .25rem;
	margin: 1rem auto;
}

main p,
main ul, main ol,
main table {
	line-height: 1.5;
	font-size: 1rem;
}

main p {
	padding: 1.5rem 1rem;
}

main ul, main ol {
	padding: 1.5rem 1rem 1.5rem 3rem;
}

a {
	color: var(--color-text-body);
}

main a,
footer a {
	text-underline-offset: var(--underline-thickness);
	text-decoration-thickness: var(--underline-thickness);
	transition: text-decoration-thickness .5s;
}

@media (any-hover: hover) {
	main a:hover,
	footer a:hover {
		text-decoration-thickness: calc(var(--underline-thickness) * 1.8);
	}
}

main a:focus-visible,
footer a:focus-visible {
	text-decoration: none;
	outline: .1rem solid var(--color-text-body);
	border-radius: .05rem;
}

main a:active,
footer a:active {
	text-decoration-thickness: calc(var(--underline-thickness) * 1.8);
}

hr {
	margin: 2rem 5rem;
	color: var(--color-accent);
}

pre {
	padding: 1rem;
	border: thick solid var(--color-bg-alt);
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: break-word;
	overflow: auto;
}

table {
	width: 100%;
	border-spacing: 0;
	border: thick solid var(--color-bg-alt);
}

th {
	background-color: var(--color-bg);
	vertical-align: bottom;
}

th, td {
	padding: 0 .5rem;
}

td {
	vertical-align: baseline;
}
