header,
footer,
.pagination {
	font-family: var(--font-family-nav);
}

header ul,
footer ul {
	list-style: none;
	display: flex;
}

header {
	--tab-height: 2.25rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1.5rem;
}

header a {
	background-color: var(--color-bg-alt);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: var(--nav-padding);
	height: var(--tab-height);
	display: block;
	text-decoration: none;
	border-radius: .5rem .5rem 0 0;
	border-left: solid var(--color-bg);
	border-top: solid var(--color-bg);
	border-right: solid var(--color-bg);
	letter-spacing: .1rem;
}

header a[data-current-section="true"] {
	background-color: var(--color-bg);
}

/* Hover and focus for header */
@media (any-hover: hover) {
	header a:hover {
		border-color: var(--color-text-header);
	}

	header a[data-current-section="true"]:hover {
		border-color: var(--color-text-body);
	}
}

header a:focus-visible {
	border-color: var(--color-text-header);
	outline: none;
}

header a[data-current-section="true"]:focus-visible {
	border-color: var(--color-text-body);
}

header a:active {
	border-color: var(--color-bg);
}

/* Skip link */
#skip {
	background-color: var(--color-bg);
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -99;
}

#skip:focus-visible {
	left: auto;
	width: auto;
	height: var(--tab-height);
	overflow: visible;
	margin: 0 10%;
	z-index: 999;
}

header ul {
	justify-content: flex-end;
	gap: 1rem;
}

@media (max-width: 450px) {
	header {
		display: grid;
		grid-template-areas: "row1" "row2";
		justify-content: stretch;
	}

	header a[href="/"] {
		grid-area: row1;
		justify-self: start;
		align-self: end;
	}

	header nav {
		grid-area: row2;
		align-self: end;
	}

	/* This selector means "the home page is the current page" */
	header:has(a[data-current-section="true"][href="/"]) nav {
		grid-area: row1;
		width: 100%;
	}

	header:has(a[data-current-section="true"][href="/"]) > a {
		grid-area: row2;
	}

	header #skip:focus-visible {
		margin: 0;
		position: relative;
		justify-self: center;
	}

	header:not(:has(a[data-current-section="true"][href="/"])) #skip:focus-visible {
		grid-area: row1;
		background-color: var(--color-bg-alt);
	}

	header:has(a[data-current-section="true"][href="/"]) #skip:focus-visible {
		grid-area: row2;
		align-self: end;
	}

	header:has(nav) .folder-background {
		grid-area: row2;
		background-color: var(--color-bg-alt);
		height: calc(var(--tab-height) * 1.25);
		width: 100%;
		z-index: -1;
		border-left: solid var(--color-bg);
		border-right: solid var(--color-bg);
	}

	header ul {
		justify-content: space-between;
		gap: 0;
	}
}

/* Footer */
footer {
	padding: 1rem;
	background-color: var(--color-bg);
	border-radius: 0 0 .5rem .5rem;
	font-size: .9rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

footer ul {
	justify-content: center;
	gap: 1rem;
}

@media (max-width: 650px) {
	footer ul {
		flex-flow: column;
		gap: 0;
		text-align: center;
	}
}

/* Pagination */
.pagination {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "older newer";
	column-gap: 1rem;
	margin: 2rem 0 0;
	padding: 0;
	justify-content: space-between;
	background-image: none;
	background-color: transparent;
}

.newer {
	text-align: right;
}

.older {
	grid-area: older;
}

.older::before {
	content: "←" / "";
}

.newer {
	grid-area: newer;
}

.newer::after {
	content: "→" / "";
}

@media (max-width: 650px) {
	.post-pagination {
		grid-template-columns: 1fr;
		grid-template-areas:
			"older"
			"newer";
		row-gap: 1rem;
	}
	.older {
		text-align: left;
	}

	.newer {
		text-align: right;
	}
}
