header ul,
footer ul {
	list-style: none;
	display: flex;
}

header {
	--tab-height: 2.25rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1.5rem;
}

header a {
	background-color: var(--color-bg-alt);
	padding-left: 1rem;
	padding-right: 1rem;
	height: var(--tab-height);
	display: block;
	text-decoration: none;
	font-family: var(--font-family-header);
	border-radius: .5rem .5rem 0 0;
}

header a[aria-current="page"] {
	background-color: var(--color-bg);
}

/* Skip link */
#skip {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -99;
}

#skip:focus-visible {
	left: auto;
	width: auto;
	height: var(--tab-height);
	overflow: visible;
	margin: 0 10%;
	z-index: 999;
}

header ul {
	justify-content: flex-end;
	gap: 1rem;
}

@media (max-width: 450px) {
	header {
		display: grid;
		grid-template-areas: "row1" "row2";
		justify-content: stretch;
	}

	header a[href="/"] {
		justify-self: start;
		align-self: end;
	}

	header nav {
		grid-area: row2;
		align-self: end;
	}

	/* This selector means "the home page is the current page" */
	header:has(a[aria-current="page"][href="/"]) nav {
		grid-area: row1;
		width: 100%;
	}

	header:has(a[aria-current="page"][href="/"]) > a {
		grid-area: row2;
	}

	header:has(a[aria-current="page"][href="/"]) #skip {
		position: relative;
		grid-area: row2;
		align-self: end;
		justify-self: center;
	}

	header:has(nav) .folder-background {
		grid-area: row2;
		background-color: var(--color-bg-alt);
		height: calc(var(--tab-height) * 1.25);
		width: 100%;
		z-index: -1;
	}

	header ul {
		justify-content: space-between;
		gap: 0;
	}

	header:not(:has(a[aria-current="page"][href="/"])) nav a {
		border-left: solid var(--color-bg);
		border-top: solid var(--color-bg);
		border-right: solid var(--color-bg);
	}
}

/* Footer */
footer {
	padding: 1rem;
	background-color: var(--color-bg);
	border-radius: 0 0 .5rem .5rem;
	font-size: .9rem;
	line-height: 1.5;
}

footer ul {
	justify-content: center;
	gap: 1rem;
}

@media (max-width: 650px) {
	footer ul {
		flex-flow: column;
		gap: 0;
		text-align: center;
	}
}
