---
pagination:
  data: collections.posts
  size: 5
  alias: postlist
  reverse: true
title: Blog
layout: listpage.njk
eleventyComputed:
  permalink: /blog/{% if pagination.pageNumber %}{{ pagination.pageNumber }}/{% endif %}
---

{% include "postlist.njk" %}
