---
layout: base.njk
pagination:
  data: collections.tagPagination
  size: 1
  alias: tag
eleventyComputed:
  permalink: /tags/{{ tag.tagName | slugify }}/{% if tag.pageNumber %}{{ tag.pageNumber + 1 }}/{% endif %}
  title: "Tag: {{ tag.tagName }}"
---

{% set postlist = tag.pageData %}
{% include "postlist.njk" %}
