<footer>
  {% if metadata.bottomNav.length %}
  <nav aria-label="footer navigation">
    <ul>
      {% for item in metadata.bottomNav %}
        <li><a href="{{ item.link }}"
          {% if item.link == page.url %}aria-current="page"{% endif %}>
          {{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</footer>
