<header>

  <a href="#main" id="skip" title="skip to main content">skip to main content</a>

  <a class="site-title" href="/"
    {% if page.url == "/" %}aria-current="page"{% endif %}>home</a>

  {% if metadata.topNav.length %}
  <nav aria-label="main navigation">
    <ul>
      {% for item in metadata.topNav %}
        <li><a href="{{ item.link }}"
          {% if item.link == page.url %}aria-current="page"{% endif %}>
          {{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

</header>
