<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% set pageTitle %}{{ title }} | {{ metadata.title }}{% endset %}
		<title>{{ pageTitle }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

    <!-- Style -->
    <style>
      :root {
        --font-family-header:
          {% if metadata.fonts.header %}{{ metadata.fonts.header }},{% endif %}
          {{ metadata.fonts.headerFallback }};
        --font-family-body:
          {% if metadata.fonts.body %}{{ metadata.fonts.body }},{% endif %}
          {{ metadata.fonts.bodyFallback }};
      }
    </style>
    <link href="/css/main.css" rel="stylesheet" />

    <!-- Fonts -->
    {% if metadata.fonts.header or metadata.fonts.body %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="{{ metadata.fonts | fontString }}" rel="stylesheet">
    {% endif %}
  </head>
	<body>
    {% include "header.njk" %}

		<main>
      <h1>{{ title }}</h1>

      {{ content | safe }}
		</main>
    {% include "footer.njk" %}
	</body>
</html>
