<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% set pageTitle %}{{ title }} | {{ metadata.title }}{% endset %}
		<title>{{ pageTitle }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:site_name" content="{{ metadata.title }}" />

    <!-- Style -->
    <style>
      :root {
        --font-family-header:
          {% if metadata.fonts.header %}{{ metadata.fonts.header }},{% endif %}
          {{ metadata.fonts.headerFallback }};
        --font-family-body:
          {% if metadata.fonts.body %}{{ metadata.fonts.body }},{% endif %}
          {{ metadata.fonts.bodyFallback }};
      }
    </style>
    <style>{% include "css/main.css" %}</style>
    <style>{% include "css/nav.css" %}</style>

    <style>{% getBundle "css" %}</style>

    <!-- Fonts -->
    {% if metadata.fonts.header or metadata.fonts.body %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="{{ metadata.fonts | fontString }}" rel="stylesheet">
    {% endif %}
  </head>
	<body>
    {% include "header.njk" %}

		<main id="main">
      <h1>{{ title }}</h1>

      <div class="content">
        {{ content | safe }}
      </div>
    </main>
    {% include "footer.njk" %}
	</body>
</html>
