---
layout: listpage.njk
pagination:
  data: collections.highlight
  size: 2
  alias: postlist
  reverse: true
eleventyComputed:
  permalink: /{% if pagination.pageNumber %}{{ pagination.pageNumber }}/{% endif %}
---
{% css %}{% include "css/home.css" %}{% endcss %}

{% if pagination.pageNumber == 0 %}
  <h2 class="subtitle">{{ subtitle }}</h2>

  {% if hero.image and hero.alt %}
    <img class="hero" src="{{ hero.image }}" alt="{{ hero.alt }}">
  {% endif %}

  {{ content | safe }}
{% endif %}

<h2 class="highlights-header">Highlights</h2>

{% include "postlist.njk" %}
