---
layout: listpage.njk
title: home
pagination:
  data: collections.highlight
  size: 2
  alias: postlist
  reverse: true
eleventyComputed:
  permalink: /{% if pagination.pageNumber %}{{ pagination.pageNumber }}/{% endif %}
---

<h2 class="subtitle">{{ subtitle }}</h2>

{% if hero.image and hero.alt %}
  <img class="hero" src="{{ hero.image }}" alt="{{ hero.alt }}">
{% endif %}

{{ content | safe }}

<h2>Highlights</h2>

{% include "postlist.njk" %}
