---
layout: listpage.njk
title: home
pagination:
  data: collections.highlight
  size: 10
  alias: postlist
  reverse: true
permalink: index.html
---
{{ content | safe }}

{% include "postlist.njk" %}
