---
layout: base.njk
---
{% css %}{% include "css/page.css" %}{% endcss %}

<article>
  {% if hero.image %}
    <img class="hero" src="{{ hero.image }}" alt="{{ hero.alt }}">
  {% endif %}

  {{ content | safe }}
</article>
