---
layout: base.njk
---
{% css %}{% include "css/post.css" %}{% endcss %}

{# this isn't part of the base template because it fights with the postlist css #}
{% css %}{% include "css/lines.css" %}{% endcss %}

<article>
  <div class="metadata">
    <p class="post-date">
      posted on
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("America/Los_Angeles") }}</time>
      by {{ metadata.author }}
    </p>

    {% set relevantTags = tags | removeBasicTags %}
    {% if relevantTags.length %}
    <ul class="post-tags">
      {% for tag in relevantTags %}
      <li>
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  {% if hero.image and hero.alt %}
    <img class="hero" src="{{ hero.image }}" alt="{{ hero.alt }}">
  {% else %}
    <hr>
  {% endif %}

  {{ content | safe }}
</article>

{% set olderPost = collections.posts | getPreviousCollectionItem %}
{% set newerPost = collections.posts | getNextCollectionItem %}
{% set olderHref = olderPost.url %}
{% set newerHref = newerPost.url %}
{% set olderTitle = olderPost.data.title %}
{% set newerTitle = newerPost.data.title %}
{% set inPost = true %}
{% include "pagination.njk" %}

<hr>

{% set relevantTags = tags | removeBasicTags %}
{% set postlist = collections.posts | filterByTags(relevantTags) | excludeFromCollection([page.url, olderHref, newerHref]) | randomize | head(3) %}
{% if postlist.length %}
<section class="related-posts">
  <h2>related posts</h2>
  {% include "postlist.njk" %}
</section>
{% endif %}
