---
layout: page.njk
---

<p class="post-date">
  posted on
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("America/Los_Angeles") }}</time>
  by {{ metadata.author }}
</p>

{% set relevantTags = tags | removeBasicTags %}
{% if relevantTags.length %}
<ul>
  {% for tag in relevantTags %}
  <li>
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl }}">{{ tag }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{{ content | safe }}
